
  /*Påverkar alla sidor*/
*{
  margin: 0ex;
  font-family: 'Oswald', sans-serif;
}

  /*Tre olika header (en vanlig och de 2 flaggorna för respektive land)*/
header {
  background-image: linear-gradient(90deg,black,#252136);
  width: 100%;
  height: 15vh;
}

.HeaderTysklan {
  background-image: url("tysklands-flagga.png");
  background-size: contain;
}

.HeaderFranktike {
  background-image: url("https://cdn.countryflags.com/thumbs/france/flag-800.png");
  background-size: cover;
}

  /*Samma som header olika länders nav ser olika ut*/
nav {
  background-image: linear-gradient(90deg,hsla(0,0%,0%,0.9),#252136);
}

.navTyskland {
  background-image: linear-gradient(90deg, hsl(0, 0%, 0%),black);
}

.navFrankrike {
  background-image: url("https://cdn.countryflags.com/thumbs/france/flag-800.png");
  background-size: cover;
}

  /*Nav properties och förbereder transition om användare håller på meny alternativ*/
nav a {
    display: block;
    color:#ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 2s;
    transition-property: background-color;
    transition-timing-function: ease;
}

.navFrankrike a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition-duration: 2s;
  transition-property: background-color;
  transition-timing-function: ease;
}

  /*Gör bakrunden till orange på tiden angiven i nav a ovan */
  nav a:hover {
    background-color: orange;
  }
  
  header h1{
    float: left;
    color: #f2f2f2;
    text-decoration: none;
  }

  /*för att få listan att vara horizontel*/
  .HorizontalUL {
    width: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    bottom: 0;
  }

  .HorizontalUL li {
    display: inline-block
   }

   section {
       width: 80%;
       height: 40vh;
       border: 7px solid Black;
       border-radius: 20px;
       margin: auto;
   }
  

  /*Alla olika tre och 6 spaltslayouts*/
  .column3spalt {
    float: left;
    width: 31%;
    padding: 5px;
  }

  .column6spalt {
    float: left;
    width: 15%;
    padding: 5px;
  }
  
  footer {
    width: 80%;
    height: 22vh;
    border: 7px solid Black;
    border-radius: 20px;
    margin: auto;
}

  /*Här kontrolleras storleken på bilderna så att de ska anpassa sig och se Ok ut*/
.loggotyper {
  max-height: 20vh;
  max-width: 100%;
}

.Bilbilder {
  max-height: 30vh;
  max-width: 100%;
}

.BilbilderStartsida {
  height: 50%;
  max-height: 18vh;
  max-width: 100%;
}

  /*för att göra det lätt att få saker till mitten*/
.center {
  text-align: center;
}

.columnBilsidor {
  display: inline-table;
  width: 30%;
  border: 10px solid 	#303030;
  border-radius: 10px;
}

  /*Ändrar bakrundsgärgen på den aktiva sidan i menyn*/
.Aktivsida {
  background-color: gray;
}
  
  /*för zebra tabellen*/
tr:nth-child(even) {
  background-color: #f2f2f2
}

table {
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  padding: 10px;
}

  /*Youtube video*/
iframe {
  width: 560px; 
  height: 315px;
}

  /*Fixar så att bilsidorna anpassar sig om skärmen blir för liten*/
@media only screen and (max-width: 700px) {
  .columnBilsidor {
    width: 100%;
    border: 10px solid 	#303030;
    border-radius: 10px;
  }
} 